[Unit]
Description=Bacon Bot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
WorkingDirectory=/usr/local/bin/baconbot
ExecStart=/usr/bin/node /usr/local/bin/baconbot/index.js

[Install]
WantedBy=multi-user.target
